*.fsp linguist-language=F#
*.fsi linguist-language=F#
*.fsl linguist-language=F#

*/Parser.fs linguist-generated
*/Parser.fsi linguist-generated
*/Lexer.fs linguist-generated

GrammarTestCoverage/** linguist-documentation
