*.fsp linguist-language=F#
*.fsi linguist-language=F#
*.fsl linguist-language=F#

QuantumLanguage/Parser.* linguist-generated
QuantumLanguage/Lexer.* linguist-generated

GrammarTestCoverage/** linguist-documentation
