@page "/circuit-editor"
@using QuboxSimulator.Circuits

<PageTitle>Circuit Sandbox</PageTitle>

<div style="min-height: 200px; overflow: hidden">
    <div style="float: left; width: 40%; text-align: center; color: rgb(255,236,69);
        align-content: center; background: rgb(15,24,88);">
        <h1>Circuit</h1>
        <div class="info-body">
            <h1 @onmouseover="@UpdateCircuit">Hover to update circuit!</h1> <p>@PrintCircuit(_circuit)</p>
        </div>
        <blockquote>If representations match, event callback works!</blockquote>
        
        @{
            if (Error != AST.Error.Success)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true">
                        <b>Invalid! There's been an error detected in the code:</b> @Error.ToString()
                    </span>
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                        <b>Successful!</b> The QuLang definition is syntactically and semantically correct.
                    </span>
                </div>
            }
        }
        
        <button class="download-button">Click to download Q# code!</button>
        
    </div>
    <div style="float: right; width: 60%;">
        <QuLangEditor @bind-CodeContent="Content"></QuLangEditor>
    </div>
    
</div>
<SchemaVisual Circuit="@_circuit"></SchemaVisual>

@code {
    
    private Circuit? _circuit { get; set; }
    
    private AST.Error? Error { get; set; } = AST.Error.Success;

    private string PrintCircuit(Circuit? circuit)
    {
        if (circuit == null)
        {
            return "Circuit is missing!";
        }
        return circuit.ToString();
    }

    private void UpdateCircuit(MouseEventArgs e)
    {
        Interpreter.HandleLang(Content);
        Console.WriteLine(Content);
        var circuit = Interpreter.Interpret();
        Error = Interpreter.Error;
        if (circuit == null)
        {
            Console.WriteLine("Circuit is still missing!");
            return;
        }
        _circuit = circuit;
    }

    private string Content { get; set; } = "...Try typing something in the editor or switch focus...";

}