@page "/circuit-editor"
@using QuboxSimulator.Circuits

<PageTitle>Circuit Sandbox</PageTitle>

<PageDescription> The code editor is a powerful tool for editing and debugging your code. </PageDescription>
<div style="min-height: 200px; overflow: hidden">
    <div style="float: left; width: 40%; text-align: center; color: rgb(255,236,69);
        align-content: center; background: rgb(15,24,88);">
        <h1>Circuit</h1>
        <p role="status">Current gate count: @_currentCount</p>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <p> Here's the parent: <br/> @Content </p>
        <blockquote>If strings match, event callback works!</blockquote>
    </div>
    <div style="float: right; width: 60%;">
        <QuLangEditor @bind-CodeContent="Content"></QuLangEditor>
        
    </div>

</div>

@code {
    private int _currentCount = 0;
    
    private string Content { get; set; } = "...Try typing something in the editor or switch focus...";

    private Circuit _circuit;
    
    private void IncrementCount()
    {
        _currentCount++;
    }
    
    private void UpdateCircuit()
    {
        Interpreter.HandleLang(Content);
        var circuit = Interpreter.Interpret();
    }
}